mega.py
pyrotgfork==2.2.19
tgcrypto
aiohttp
aiofiles
aria2p
motor
dnspython
git+https://github.com/yt-dlp/yt-dlp.git
curl-cffi
BeautifulSoup4
lxml
pycryptodome
cryptography
hanime-plugin 
mega.py
gdown
google-api-python-client
google-auth-httplib2
google-auth-oauthlib


